<tr id="<%= dom_id book %>" class="tw-border-b-2 tw-border-neutral-300">
  <td class="tw-p-4 tw-text-right"><%= book.id %></td>
  <td class="tw-p-4"><%= book.title %></td>
  <td class="tw-p-4"><%= book.body %></td>
  <td class="tw-p-4 tw-text-center">
    <%= render(Ui::Link.new(text: "Show this book", path: book_path(book)))%>
  </td>
</tr>
