<%= form_with(model: book) do |form| %>
  <% if book.errors.any? %>
    <%= render(Ui::Error::Component.new(options: { class: ['tw-mb-2'] })) do |component| %>
      <% component.with_body do %>
        <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

        <ul>
          <% book.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  <% end %>

  <div>
    <%= form.label :title, class: 'tw-block' %>
    <%= form.text_field :title, class: 'tw-rounded-md tw-p-2 tw-border-[1px] tw-border-neutral-300' %>
  </div>

  <div>
    <%= form.label :body, class: 'tw-block' %>
    <%= form.text_area :body, class: 'tw-rounded-md tw-p-2 tw-border-[1px] tw-border-neutral-300' %>
  </div>

  <div>
    <%= render(Ui::Button.new(text: "Save this book", options: { method: :post }))%>
  </div>
<% end %>
