
<%= render Ui::Alert::Component.new(notice: notice) %>

<h1><%= @book.title %></h1>

<div class="tw-mb-4">
  <p class="tw-font-bold">body</p>
  <p class="tw-rounded-md tw-bg-white tw-p-3"><%= @book.body %></p>
</div>

<div class="tw-mb-4">
  <%= render(Ui::Link.new(text: "Edit this book", path: edit_book_path(@book)))%> |
  <%= render(Ui::Link.new(text: "Back to books", path: books_path))%>
</div>
<div>
  <%= render(Ui::Button.new(text: "Destroy this book", valiant: 'danger', options: { method: :delete }))%>
</div>

