<!DOCTYPE html>
<html>
  <head>
    <title>SampleRaileWayFrontend</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind" %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "rails-ujs", defer: true %>
    <%= javascript_include_tag "application", defer: true %>
  </head>

  <body>
    <%= render(Ui::Container::Component.new) do |component| %> 
      <% component.with_body do %>
        <%= yield %>
      <% end %>
    <% end %>
  </body>
</html>
