<!DOCTYPE html>
<html>
  <head>
    <title>SampleRaileWayFrontend</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "rails-ujs", defer: true %>
    <%= javascript_include_tag "application", defer: true %>
  </head>

  <body class="tw-bg-neutral-50">
    <%= yield %>
  </body>
</html>
